.navigation {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation a {
  color: #fb3f3f;
  transition: 1s;
  font-weight: 900;
}
