.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  width: 320px;
  height: 568px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  border-radius: 50px;
}

.outlet {
  width: 100%;
}
